<div class="container">
  <div class="row">
    <div class="col-3 offset-1">
      <%= image_tag @item.image, class: "show-img" %>
    </div>
    <div class="col-5 offset-2">
      <table class="table">
        <tbody>
          <tr>
            <td><strong><%= @item.name %></strong></td>
          </tr>
          <tr>
            <td><p><%= @item.introduction %></p></td>
          </tr>
          <tr>
            <td>
              <strong>
                <i class="fas fa-yen-sign"></i>
                <%= @item.tax_included_price.to_s(:delimited) %>
                <span class="small">(税込)</span>
              </strong>
            </td>
          </tr>
          <tr>
            <td>
              <%= form_with model: @cart_item, url: cart_items_path do |f| %>
                <%= f.select :total_count, *[1..10], {:prompt => "個数選択"} %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= f.hidden_field :customer_id, :value => current_customer.id %>
                <%= f.submit "カートに入れる", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

